@charset "UTF-8";
/* line 26, ../sass/base/_html-tags.scss */
h1, h2, h3, h4, h5, h6 {
  color: #575757;
  margin: 0 0 1em;
  font-weight: 400; }

/* line 34, ../sass/base/_html-tags.scss */
h1 {
  font-size: 1.8em;
  color: black;
  margin: 0 0 1.5em;
  text-transform: uppercase; }
  @media (min-width: 0) and (max-width: 750px) {
    /* line 34, ../sass/base/_html-tags.scss */
    h1 {
      margin-bottom: 0.3em; } }


/* line 80, ../sass/base/_html-tags.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2a9dd6;
  margin: 1em 0;
  padding: 0; }

/* line 89, ../sass/base/_html-tags.scss */
a {
  color: #2a9dd6;
  text-decoration: none;
  outline: 0; }
  /* line 93, ../sass/base/_html-tags.scss */
  a:hover {
    color: #288fc2; }


/* line 1, ../sass/components/blocks/_resize-text.scss */
.block--text-resize {
  display: none;
  margin: 0; }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/blocks/_resize-text.scss */
    .block--text-resize {
      display: block; } }
  /* line 12, ../sass/components/blocks/_resize-text.scss */
  .block--text-resize .block__content {
    padding: 0px 0 0 40px;
    margin: 0px;
    float: left;
    height: 40px;
    z-index: 10;
    width: 160px;
    background: url(../images/text-resize.png) no-repeat 0 0 #2d9fc5; }
    /* line 13, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/toolkit-2.10.0/stylesheets/toolkit/_clearfix.scss */
    .block--text-resize .block__content:after {
      content: "";
      display: table;
      clear: both; }
    /* line 24, ../sass/components/blocks/_resize-text.scss */
    .block--text-resize .block__content a {
      color: #fff;
      display: block;
      padding: 0;
      float: left;
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      width: 40px;
      position: relative;
      text-align: center; }
      /* line 36, ../sass/components/blocks/_resize-text.scss */
      .block--text-resize .block__content a:hover {
        background-color: #288fc2; }
      /* line 39, ../sass/components/blocks/_resize-text.scss */
      .block--text-resize .block__content a sup {
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        color: #e9ab00; }





