
/*
@media only screen and (max-width: 500px) {
  body {
    padding-top:80px;
  }

  #lienzo{
  width: 100%;
  margin: 0 auto;
  display: block;
  border: 1px solid #d9d9d9;
}

}*/
@media screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}