@import url('https://fonts.googleapis.com/css?family=Montserrat');

.cuerpo{
  background: #f6f6f6;
  background-position:center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

.titulo{
  font-size: 11px;
  text-transform: uppercase;
}

.container{
  box-sizing:border-box;
  padding:0px;
  width:70%;
  margin:auto;
  /*background: rgba(233,233,233,0.9);*/
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.container h1, p{
  text-align:center;
}

.boton{
    background: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    }

.boton:hover{
    background: #f8f8f8;
}

.pregunta{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    height: 200px;
    resize: none; 
    padding: 10px;
}

.respuesta{
   
    width: 90%;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    height: 50px;
    resize: none; 
    padding: 10px;
    margin-left: 10%;
}

.borde{
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background: #f2f2f2;
}

.grupo-form{
  padding: 5px 0;
}

.grupo-form label{
  display:block;
  padding:8px 0px;
}

.grupo-form input, select{
  background: #fff;
  display:block;
  border:none;
  border-radius:5px;
  width:100%;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  padding:10px 0px 10px 8px;
  height: 55px;
}

.grupo-form label{
  font-size:17px;
  display:block;
  padding:8px 0px;
}

.radio {
  text-align:center;
}

.radio input{
  display:inline-block;  
}

.radio{
  margin:30px 0;
}

.radio label{
  padding:20px;
}

.botonf{
  font-family: 'Montserrat', sans-serif;
  display:block;
  width:60%;
  margin:40px auto 10px auto;
  background: #333333;
  border:none;
  border-radius: 3px;
  text-transform:uppercase;
  color: #fff;
  font-size:17px;
  padding:8px 20px;
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.botonf:hover{
  cursor: pointer;
  font-weight:600;
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

@media screen and (min-width:1366px){
  .container{
    width:40%;
  }
}

@media screen and (max-width:768px){
  body{
    background: rgba(233,233,233,1);
  }
  .container{
    /*background: rgba(233,233,233,1);*/
    width:100%;
    border-radius:0;
  }
}


@media screen and (max-width:500px){
  .radio #gender-label{
    display:block;  
  }
  
  .radio label{
    display:inline-block;
  }
  
  .botonf{
    width:100%;
    margin:0;
  }
}